.rhino-game-shapes-images {
  margin: auto 20px;
}

.games {
  height: 120vh;
  padding: 5%;
}

.game-description {
  opacity: 0.8;
  font-family: Sharpgroteskbook25, sans-serif;
  font-size: 0.6vw;
}

.game-col {
  text-align: left;
  padding: 5%;
  height: 20vh;
  position: relative;
}

.game-title {
  opacity: 0.8;
  font-family: Sharpgroteskbook25, sans-serif;
  /* font-size: 50px; */
  padding: 15%;
  margin-top: 5%;
  width: 50%;
}

.fa-play-circle:hover {
  opacity: 0.8;
}

.game-img {
  position: absolute;
  left: 3;
}

.modal-content {
  background: black;
}

.modal-header {
  border: none;
}

.closeBtn {
  font-size: x-large;
  color: rgb(197, 197, 197) !important;
  position: absolute;
  right: 15px;
  cursor: pointer;
}
.closeBtn:hover {
  opacity: 0.8;
}
