.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-item {
  padding: 2%;
  font-size: 0.7vw;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav-item:hover {
  opacity: 0.8;
  transform: scale(1.2);
}

.nav-rhino {
  width: 1.5vh;
  position: absolute;
  bottom: 4vh;
  left: 7.5vw;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 1200px) {
  .nav-rhino {
    left: 7;
  }
}
