.discord-icon {
  position: fixed;
  left: 2vw;
  top: 2.5vh;
}
.twitter-icon {
  position: fixed;
  left: 2vw;
  bottom: 2vh;
}
.nav-bar-icons {
  width: 2.5vw;
  z-index: 1100;
  transition: all 0.2s ease;
}

.nav-bar-icons:hover {
  transform: scale(1.2);
}
