.mint-logo {
  width: 25vw;
  border-radius: 20px;
}

.mint-row {
  height: 100vh;
  width: 100vw;
}

.mint-col {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

#mint-slider {
  margin: 3vh 0px;
  -webkit-appearance: none;
  width: 50%;
  height: 5px;
  background: #fff;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#mint-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

#mint-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #fff;
  cursor: pointer;
}

.back-btn {
  position: absolute;
  left: 2vw;
  top: 2vh;
  font-size: 3vw;
  cursor: pointer;
  transition: all 0.3s ease;
}

.back-btn:hover {
  transform: scale(1.2);
}

.back-btn:hover {
  opacity: 0.8;
}
