.floats {
  height: 120vh;
  overflow: hidden;
  /* flex-direction: column; */
}
.floats .row {
  width: 98vw;
}

.floats-col {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 50vh;
  position: relative;
}

.floats-heading-right {
  position: absolute;
  bottom: 10vh;
  left: 0;
}
.floats-heading-left {
  position: absolute;
  bottom: 10vh;
  right: 0;
}
