.rare-rhinos {
  height: 100vh;
  padding: 5%;
  position: relative;
  margin-top: 3vh;
}

.rhino-col {
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  height: 70vh;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.rhino-col::before {
  content: "";

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  transition: all 0.3s ease;
}

#rhino-1::before {
  background-image: url("../../assets/BTC-Maximalist-Starter-Pack.png");
}
#rhino-2::before {
  background-image: url("../../assets/Vaccinated-MMA-Fighter.png");
}
#rhino-3::before {
  background-image: url("../../assets/Vaccinated-Zombie-Police.png");
}

.rhino-heading {
  opacity: 0;
  font-family: Sharpgroteskbook25, "sans-serif";
  transition: all 0.3s ease;
}
.rhino-col .p-1 {
  opacity: 0;
  transition: all 0.3s ease;
}

.rhino-col:hover .rhino-heading {
  opacity: 1;
}
.rhino-col:hover .p-1 {
  opacity: 1;
}

.rhino-col:hover:before {
  opacity: 0.2;
  /* background-size: 120%; */
}
