#banner {
  background-image: url("../../assets/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  background-size: 100%;
}

#left-rhino-banner {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-repeat: no-repeat;
  background-image: url("../../assets/left-team.png");
  /* background-attachment: fixed; */

  height: 100%;
  width: 100%;
}
#right-rhino-banner {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-image: url("../../assets/right-team.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* height: 100%; */
  width: 100%;
}

#content {
  position: absolute;
  top: 100vh;
}
