.faqs-wrapper .row {
  height: 100vh;
  width: 99vw;
  position: relative;
}

.faqs {
  text-align: left;
  margin: auto 0;
  padding: 5%;
  height: 50vh;
  color: rgba(255, 255, 255, 0.733);
  overflow-y: scroll;
  border-radius: 10px;
  font-family: Sharpgroteskbook25, sans-serif;
  z-index: 1000;
}

.faqs::before {
  content: "";
  position: absolute;
  top: 22vh;
  left: 0;
  right: 0;
  width: 55vw;
  height: 60vh;
  box-shadow: inset 0px 5vh 10vh 0vw #000, inset 0px -10vh 10vh 0vw #000;
}

.faqs h1 {
  font-size: 25px;
}
.faqs p {
  font-size: 14px;
}

.faq {
  z-index: -1;
}

.faqs::-webkit-scrollbar {
  width: 0px;
}
.faq-rhino {
  width: 22vw;
  position: absolute;
  right: 10vw;
  bottom: 0;
}

.faq-imgs {
  position: relative;
}
.faq-img {
  width: 22vw;
  position: absolute;
  right: 10vw;
  top: 20vh;
}
